/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    /* padding: 20px; */
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    /* position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px); */
    /* background: #ededed;
    width: 25px;
    height: 25px; */
    /* border-radius: 50%; */
    line-height: 20px;
    text-align: center;
    /* border: 1px solid #999; */
    font-size: 20px;
    float: right;
  }

  .input-label{
      display: block;
      padding: 1% 0;
  }

   .input-label input[type=radio]{
    display: inline;
    width: auto;
    height: auto;
   }

   input[type=text] , textarea{
    font-family: sans-serif;
    font-size: 10px;
   }
  .input-label input, .input-label select{
      display: block;
      margin: 5px 0;
        width: 100%;
        height: 20px;
  }
  .modal-box{
    padding: 0 4%;
    border: 1px solid;
    margin: 20px;
  }
  form{
    padding: 0 4%;
    border: 1px solid;
    margin: 20px;
  }

  .gridContainer{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .gridContainer > div {
    text-align: center;
  }
  /* .react-select__value-container, .react-select__control{
    height: 30px; 
   }
   .react-select__placeholder{
    top: 86% !important;
   } */
   /* .react-select__single-value{
    top: 80% !important;
   }
   .react-select__control--menu-is-open .react-select__placeholder{
    top: 86%;
   }
   .react-select__control--is-focused .react-select__placeholder{
     top: 86%;
   }
   .react-select__control .react-select__placeholder{
     top: 86%;
   } */
  /* .react-select__control{
    margin: 5px 0;
    height: 30px;
    border-color: black !important;
    border-radius: 0 !important;
   }

   

   .react-select__single-value{
    top: 80% !important;
   }

   .react-select__placeholder{
     top: 80% !important;
   } */