.filter{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

label{
    font-size: 14px;
    padding-right: 10px;
}

input{
    padding: 5px;
    font-size: 12px;
}
.filterDiv {
    display: inline-block;
    background-color: #0000a0;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin: 0 1%;
  }
.filterDropDown {
    float: right;
    padding: 3px;
  }